body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
}

#header{
    background-color: pink;
}
#main{
    background-color: aqua;
}
#section{
    background-color: blueviolet;
    
    
    
}
#footer{
    background-color: crimson;
}